.main-orderDetails {
  margin: auto;
  margin-top: 100px;
}

.container-OrderDetails {
  border: solid 2px rgb(162, 162, 162);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.total-price-order {
  align-self: end;
  background-color: #036b52;
  border-radius: 15px;
  color: white;
  font-size: 32px;
  font-weight: 900;
  margin: 10px 20px;
  padding: 15px 20px;
  text-align: center;
  width: 250px;
}
