main {
  position: absolute;
  width: 100%;
  margin-top: 100px;
}

.grid-products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.button-checkout {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #036B52;
  font-size: 20px;
  z-index: 1;
}