.table-container {
  background-color: white;
  width: 100%;
}

table {
  width: 95%;
  padding-top: 30px;
  margin: auto;
  border-spacing: 0 10px;
}

th {
  font-weight: 100;
}

.th-item{
  width: 5%;
}

.th-description {
  width: 55%;
}

.th-quantity {
  width: 10%;
}

.th-unitPrice {
  width: 10%;;
}

.th-subtotal {
  width: 10%;
}
