.tr-product {
  background-color: #eaf1ef;
  height: 35px;
  line-height: 20px;
}

.td-item {
  background-color: #2fc18c;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.td-description {
  font-size: 18px;
  padding-left: 15px;
}

.td-quantity {
  background-color: #036b52;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.td-unitPrice {
  background-color: #421981;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.td-subtotal {
  background-color: #056cf9;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.td-remover {
  background-color: rgb(205, 55, 55);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.btn-remover {
  background-color: rgb(205, 55, 55);
  border: none;
  color: white;
  font-weight: 900;
  text-align: center;
}

.td-remover:hover {
  background-color: rgb(228, 89, 89);
}

.btn-remover:hover {
  background-color: rgb(228, 89, 89);
}

